In [1]:
sent_1="This is a good movie. I am not going to miss it"
sent_2="This is not a good movie at all"

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(ngram_range=(1,1))

In [ ]:
count_vect=cv.fit_transform([sent_1,sent_2]) # unigram

In [4]:
cv.get_feature_names_out()

array(['all', 'am', 'at', 'going', 'good', 'is', 'it', 'miss', 'movie',
       'not', 'this', 'to'], dtype=object)

In [5]:
count_vect.toarray()

array([[0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0]], dtype=int64)

In [7]:
import pandas as pd
pd.DataFrame(count_vect.toarray(), columns=cv.get_feature_names_out())

   all  am  at  going  good  is  it  miss  movie  not  this  to
0    0   1   0      1     1   1   1     1      1    1     1   1
1    1   0   1      0     1   1   0     0      1    1     1   0

### **TF-IDF Using Python**

In [8]:
review_1 = 'The movie was good and we really like it'
review_2 = 'the movie was good but the ending was boring'
review_3 = 'we did not like the movie as it was too lengthy'

### **Apply TF-IDF Vectorization asÂ shown:**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_vect = TfidfVectorizer(min_df=1, lowercase=True, stop_words='english')

review_1 = 'The movie was good and we really like it'
review_2 = 'the movie was good but the ending was boring'
review_3 = 'we did not like the movie as it was too lengthy'

review_list = [review_1,review_2,review_3]

tf_matrix = tf_vect.fit_transform(review_list)

tf_matrix.shape

(3, 8)

### **Convert the matrix into a DataFrame**

In [13]:
import pandas as pd
tf_names=tf_vect.get_feature_names_out()
tf_df=pd.DataFrame(tf_matrix.toarray(),columns=tf_names)
tf_df

,boring,did,ending,good,lengthy,like,movie,really
0,0.000000,0.000000,0.000000,0.480458,0.000000,0.480458,0.373119,0.631745
1,0.584483,0.000000,0.584483,0.444514,0.000000,0.000000,0.345205,0.000000
2,0.000000,0.584483,0.000000,0.000000,0.584483,0.444514,0.345205,0.000000