### **Q1. Problem Statement: Feature Extraction**

Write a Python program that reads the demotext2.txt text file.

The following are the tasks that are to be taken into consideration while constructing the solution

1. Load the demotext2.txt text file into a variable and then close the file

2. Do sentence wise tokenization and list out generated tokens

3. Transform each token into a lower case

4. Do vectorization using TFID Vectorizer

5. Generate vector-matrix

In [2]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\divu2\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

### **Step 1 import Libraries**

In [1]:
import nltk
from nltk import word_tokenize

### **Step 2 Load the file**

In [3]:
f = open("demotext2.txt", "r")
#read whole file to a string
text = f.read()
 
#close file
f.close()
 
print(text)

He can even spout some sports trivia and Christmas carols and stuff like that.
We'd talk sports and stuff, and maybe have a beer.
The Admirable Crichton of his day, he was keen alike on field sports and the arts, the friend and admirer equally of Cecil Rhodes and of Rodin, a railway director and a yeomanry colonel.
But he was not brought forward by his father or prepared in any way for his future greatness, and lived in the country occupied with field sports, till after the institution of the second protectorate in 16J7 and the recognition of Oliver's right to name his successor.
Thankfully, he was too concerned with sports to get in any real trouble.
See Strutt, Sports and Pastimes, who also gives an illustration, "taken from a manuscriptal painting of the 9th century in the Cotton Library," representing "a Saxon chieftain, attended by his huntsman and a couple of hounds, pursuing the wild swine in a forest."
As they entered the yard, Carmen noticed Lori's little red sports car.
After a lengthy shower, Jenn exited and pulled on clean leggings, sports bra, and socks.
A park and sports ground at the western end of the town contains the pedestal for a statue of President Kruger.
There were crude medieval notions that fossils were " freaks " or " sports " of nature (lusus naturae), or that they represented failures of a creative force within the earth (a notion of Greek and Arabic origin), or that larger and smaller fossils represented the remains of races of giants or of pygmies (the mythical idea).

### **Step 3 Tokenize the sentences**

In [4]:
nltk_token=nltk.sent_tokenize(text)
print(nltk_token)

['He can even spout some sports trivia and Christmas carols and stuff like that.', "We'd talk sports and stuff, and maybe have a beer.", 'The Admirable Crichton of his day, he was keen alike on field sports and the arts, the friend and admirer equally of Cecil Rhodes and of Rodin, a railway director and a yeomanry colonel.', "But he was not brought forward by his father or prepared in any way for his future greatness, and lived in the country occupied with field sports, till after the institution of the second protectorate in 16J7 and the recognition of Oliver's right to name his successor.", 'Thankfully, he was too concerned with sports to get in any real trouble.', 'See Strutt, Sports and Pastimes, who also gives an illustration, "taken from a manuscriptal painting of the 9th century in the Cotton Library," representing "a Saxon chieftain, attended by his huntsman and a couple of hounds, pursuing the wild swine in a forest."', "As they entered the yard, Carmen noticed Lori's little red sports car.", 'After a lengthy shower, Jenn exited and pulled on clean leggings, sports bra, and socks.', 'A park and sports ground at the western end of the town contains the pedestal for a statue of President Kruger.', 'There were crude medieval notions that fossils were " freaks " or " sports " of nature (lusus naturae), or that they represented failures of a creative force within the earth (a notion of Greek and Arabic origin), or that larger and smaller fossils represented the remains of races of giants or of pygmies (the mythical idea).']

### **Step 4  Converting  all the words in the sentences to lower case for generating tokens.**

In [6]:
#1. Setting all the sentance  to lower case
nltk_tokens = set(w.lower() for w in nltk_token)
nltk_tokens = list(nltk_tokens)
nltk_tokens

['a park and sports ground at the western end of the town contains the pedestal for a statue of president kruger.',
 "as they entered the yard, carmen noticed lori's little red sports car.",
 'there were crude medieval notions that fossils were " freaks " or " sports " of nature (lusus naturae), or that they represented failures of a creative force within the earth (a notion of greek and arabic origin), or that larger and smaller fossils represented the remains of races of giants or of pygmies (the mythical idea).',
 'the admirable crichton of his day, he was keen alike on field sports and the arts, the friend and admirer equally of cecil rhodes and of rodin, a railway director and a yeomanry colonel.',
 "but he was not brought forward by his father or prepared in any way for his future greatness, and lived in the country occupied with field sports, till after the institution of the second protectorate in 16j7 and the recognition of oliver's right to name his successor.",
 'thankfully, he was too concerned with sports to get in any real trouble.',
 'after a lengthy shower, jenn exited and pulled on clean leggings, sports bra, and socks.',
 "we'd talk sports and stuff, and maybe have a beer.",
 'see strutt, sports and pastimes, who also gives an illustration, "taken from a manuscriptal painting of the 9th century in the cotton library," representing "a saxon chieftain, attended by his huntsman and a couple of hounds, pursuing the wild swine in a forest."',
 'he can even spout some sports trivia and christmas carols and stuff like that.']

### **Step-5: Vectorizing sentences.**

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_vect = TfidfVectorizer(min_df=1,lowercase=True,stop_words='english')
tf_matrix = tf_vect.fit_transform(nltk_tokens)
print(tf_matrix)

  (0, 57)	0.3140883677709186
  (0, 84)	0.3140883677709186
  (0, 107)	0.3140883677709186
  (0, 82)	0.3140883677709186
  (0, 21)	0.3140883677709186
  (0, 116)	0.3140883677709186
  (0, 31)	0.3140883677709186
  (0, 120)	0.3140883677709186
  (0, 49)	0.3140883677709186
  (0, 105)	0.11612481349824408
  (0, 80)	0.3140883677709186
  (1, 11)	0.35057103775126797
  (1, 93)	0.35057103775126797
  (1, 63)	0.35057103775126797
  (1, 65)	0.35057103775126797
  (1, 73)	0.35057103775126797
  (1, 12)	0.35057103775126797
  (1, 122)	0.35057103775126797
  (1, 32)	0.35057103775126797
  (1, 105)	0.12961319346421593
  (2, 52)	0.17921062626016357
  (2, 70)	0.17921062626016357
  (2, 88)	0.17921062626016357
  (2, 45)	0.17921062626016357
  (2, 89)	0.17921062626016357
  :	:
  (8, 24)	0.21254144490425056
  (8, 51)	0.21254144490425056
  (8, 7)	0.21254144490425056
  (8, 16)	0.21254144490425056
  (8, 100)	0.21254144490425056
  (8, 96)	0.21254144490425056
  (8, 61)	0.21254144490425056
  (8, 22)	0.21254144490425056
  (8, 15)	0.21254144490425056
  (8, 1)	0.21254144490425056
  (8, 79)	0.21254144490425056
  (8, 67)	0.21254144490425056
  (8, 112)	0.21254144490425056
  (8, 53)	0.21254144490425056
  (8, 46)	0.21254144490425056
  (8, 81)	0.21254144490425056
  (8, 108)	0.21254144490425056
  (8, 105)	0.07858086507729196
  (9, 62)	0.41311916325859716
  (9, 13)	0.41311916325859716
  (9, 17)	0.41311916325859716
  (9, 117)	0.41311916325859716
  (9, 106)	0.41311916325859716
  (9, 109)	0.3511890313276876
  (9, 105)	0.15273849880663135

### **Step 6 Vector matrix formation**

In [9]:
import pandas as pd
tf_names = tf_vect.get_feature_names_out()
tf_df = pd.DataFrame(tf_matrix.toarray(), columns=tf_names)
tf_df

,16j7,9th,admirable,admirer,alike,arabic,arts,attended,beer,bra,...,thankfully,till,town,trivia,trouble,way,western,wild,yard,yeomanry
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.314088,0.000000,0.00000,0.000000,0.314088,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.350571,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.179211,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.243545,0.243545,0.243545,0.000000,0.243545,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.243545
4,0.224397,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.224397,0.000000,0.000000,0.00000,0.224397,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.49167,0.000000,0.000000,0.000000,0.49167,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.33083,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.50903,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.212541,0.000000,0.000000,0.000000,0.000000,0.000000,0.212541,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.212541,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.413119,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000

**Conclusion:** The sentences in the dataset has been changed into word tokens and then later converted to Vectors