In [31]:
import pandas as pd
import numpy as np

In [32]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [33]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [34]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [35]:
movies=movies.merge(credits,on='title')

In [36]:
movies.head()
# budget
# homepage
# id
# original_language
# original_title
# popularity
# production_comapny
# production_countries
# release-date(not sure)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [37]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [38]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [39]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [40]:
movies.dropna(inplace=True)

In [41]:
movies.duplicated().sum()

np.int64(0)

In [42]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [43]:
import ast

In [44]:
# preprocessing genres

def convert(text):
      L=[]
      for i in ast.literal_eval(text):
            L.append(i['name'])
      return L

In [45]:
movies.dropna(inplace=True)

In [46]:
movies['genres']=movies['genres'].apply(convert)

movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [47]:
# Preprocessing keywords column

movies['keywords'] = movies['keywords'].apply(convert)

In [48]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [49]:
# preprocessing cast column

def convert3(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [50]:
movies['cast']=movies['cast'].apply(convert3)

In [51]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [52]:
# Preprocessing crew column fetch the director

def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
        return L

In [53]:
movies['crew']=movies['crew'].apply(fetch_director)

In [54]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[]

In [55]:
# Movie overview column convert to list

movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [56]:
# Type 
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [57]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[]

In [58]:
# Remove the white space of the text like a sam worthing to convert SamWorthington

In [61]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x] if x is not None else [])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x] if x is not None else [])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x] if x is not None else [])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x] if x is not None else [])

In [62]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[]

In [63]:
# Create a new column tag to concate all column (genres,overview,keywords,crew)

In [64]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['cast']  + movies['keywords'] + movies['crew']

In [65]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[],"[John, Carter, is, a, war-weary,, former, mili..."

In [66]:
# Create new DataFrame

new_df = movies[['movie_id','title','tags']]

In [67]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [68]:
# tags convert into strings

new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\divu2\AppData\Local\Temp\ipykernel_16788\1000964694.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [69]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [70]:
import nltk

In [71]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [72]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [73]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\divu2\AppData\Local\Temp\ipykernel_16788\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [74]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict samworthington zoesaldana sigourneyweav cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d'

In [75]:
# string convert in lower case
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\divu2\AppData\Local\Temp\ipykernel_16788\2844141741.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [76]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [77]:
# Text Vectorization (Text -> Vector = Vectorization) Usibg Bag of Words 
# All tags concate and than most find the most repeatable words in tags
# Word1,word2,word3........words50000

In [78]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [79]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [80]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [81]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [82]:
# Distance Between two vector
# It will calculate distance between another vector


from sklearn.metrics.pairwise import cosine_similarity

In [83]:
similarity = cosine_similarity(vectors)

In [84]:
similarity

array([[1.        , 0.08585457, 0.08718573, ..., 0.04559608, 0.        ,
        0.        ],
       [0.08585457, 1.        , 0.06154575, ..., 0.02414023, 0.        ,
        0.02654659],
       [0.08718573, 0.06154575, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04559608, 0.02414023, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02654659, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [85]:
# List to tupple data convert sorting all data in accendinng order

sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

[(0, np.float64(1.0)),
 (1214, np.float64(0.29061909685954823)),
 (3728, np.float64(0.26401000024165)),
 (507, np.float64(0.26130213378560535)),
 (539, np.float64(0.2537477434955704)),
 (2405, np.float64(0.2507061052819501)),
 (582, np.float64(0.2484013136974297)),
 (1202, np.float64(0.24507154069793594)),
 (1192, np.float64(0.23995690956687132)),
 (61, np.float64(0.23490461932490855)),
 (778, np.float64(0.2348556961505104)),
 (4046, np.float64(0.23089735286521348)),
 (1916, np.float64(0.2256354947537551)),
 (2782, np.float64(0.22147019900891643)),
 (172, np.float64(0.21524880100025257)),
 (972, np.float64(0.21369687880543226)),
 (322, np.float64(0.213352298825066)),
 (151, np.float64(0.21029989116983447)),
 (973, np.float64(0.2101050788156825)),
 (2329, np.float64(0.2092457497388747)),
 (74, np.float64(0.20718416498225886)),
 (3606, np.float64(0.20712325533373332)),
 (260, np.float64(0.20668850837512243)),
 (577, np.float64(0.20668850837512243)),
 (4190, np.float64(0.2056773510573183)),
 (1440, np.float64(0.20549873413169661)),
 (1087, np.float64(0.20475971753873348)),
 (3671, np.float64(0.20056488422556012)),
 (47, np.float64(0.199363055707225)),
 (2969, np.float64(0.19649437297296482)),
 (942, np.float64(0.19391446622548786)),
 (495, np.float64(0.19344776406574832)),
 (1199, np.float64(0.19344776406574832)),
 (305, np.float64(0.1926263261127128)),
 (4, np.float64(0.19184045508446734)),
 (27, np.float64(0.19101436199010396)),
 (4405, np.float64(0.18983159915049982)),
 (94, np.float64(0.1898315991504998)),
 (2997, np.float64(0.18857857160117855)),
 (3325, np.float64(0.18857857160117855)),
 (1273, np.float64(0.18641092980036)),
 (1327, np.float64(0.18641092980036)),
 (1319, np.float64(0.18380365552345193)),
 (220, np.float64(0.18316875326179907)),
 (3997, np.float64(0.18316875326179907)),
 (83, np.float64(0.1823843010350213)),
 (1069, np.float64(0.18195633571851272)),
 (2200, np.float64(0.1797236580870839)),
 (4336, np.float64(0.1797236580870839)),
 (373, np.float64(0.17937400083354382)),
 (168, np.float64(0.17757120130114434)),
 (184, np.float64(0.17757120130114434)),
 (931, np.float64(0.1771615786072478)),
 (36, np.float64(0.1754942736973651)),
 (300, np.float64(0.17348855898381338)),
 (3536, np.float64(0.17348855898381338)),
 (3160, np.float64(0.1726931567105382)),
 (150, np.float64(0.17199894677510616)),
 (91, np.float64(0.17170914210964275)),
 (1978, np.float64(0.17170914210964275)),
 (1827, np.float64(0.17155007848855516)),
 (661, np.float64(0.16979054399120352)),
 (529, np.float64(0.1696751579473019)),
 (41, np.float64(0.16967515794730187)),
 (342, np.float64(0.16542328997110672)),
 (67, np.float64(0.1643989873053573)),
 (1533, np.float64(0.1643989873053573)),
 (595, np.float64(0.162746694241347)),
 (31, np.float64(0.16120647005479025)),
 (2511, np.float64(0.16120647005479025)),
 (1176, np.float64(0.1600142241187995)),
 (4008, np.float64(0.15949044456578)),
 (149, np.float64(0.15833049866553583)),
 (581, np.float64(0.15819299929208316)),
 (2727, np.float64(0.15819299929208316)),
 (838, np.float64(0.15719549837837185)),
 (26, np.float64(0.1559625734730109)),
 (187, np.float64(0.1559625734730109)),
 (1379, np.float64(0.1559625734730109)),
 (111, np.float64(0.15404884978892902)),
 (513, np.float64(0.15220388682955233)),
 (1342, np.float64(0.15220388682955233)),
 (311, np.float64(0.1522038868295523)),
 (52, np.float64(0.15042366316917008)),
 (2071, np.float64(0.15007505629691606)),
 (127, np.float64(0.148916158209988)),
 (7, np.float64(0.1487044791289829)),
 (2756, np.float64(0.14856672599230308)),
 (275, np.float64(0.14763464883937316)),
 (579, np.float64(0.14763464883937316)),
 (108, np.float64(0.14704292441876157)),
 (1353, np.float64(0.14704292441876157)),
 (466, np.float64(0.14704292441876154)),
 (1392, np.float64(0.14615084586538157)),
 (1475, np.float64(0.14615084586538157)),
 (1934, np.float64(0.1454358496691159)),
 (1295, np.float64(0.14543584966911588)),
 (294, np.float64(0.1453095484297741)),
 (413, np.float64(0.1453095484297741)),
 (568, np.float64(0.1453095484297741)),
 (3352, np.float64(0.1453095484297741)),
 (95, np.float64(0.1438803413133505)),
 (1054, np.float64(0.1438803413133505)),
 (1271, np.float64(0.1438803413133505)),
 (490, np.float64(0.14349920066683505)),
 (1484, np.float64(0.14349920066683505)),
 (46, np.float64(0.14309095175803563)),
 (2492, np.float64(0.14309095175803563)),
 (1961, np.float64(0.1427382933000825)),
 (17, np.float64(0.14165281524036175)),
 (461, np.float64(0.14097096860865022)),
 (859, np.float64(0.14097096860865022)),
 (2165, np.float64(0.14097096860865022)),
 (3407, np.float64(0.14097096860865022)),
 (249, np.float64(0.14019992744655632)),
 (1325, np.float64(0.14019992744655632)),
 (3779, np.float64(0.14019992744655632)),
 (72, np.float64(0.1389425035941821)),
 (4077, np.float64(0.1389425035941821)),
 (4538, np.float64(0.13812277665483924)),
 (56, np.float64(0.1371182340382122)),
 (476, np.float64(0.1371182340382122)),
 (505, np.float64(0.1371182340382122)),
 (668, np.float64(0.1371182340382122)),
 (935, np.float64(0.1371182340382122)),
 (3980, np.float64(0.1371182340382122)),
 (843, np.float64(0.13699915608779772)),
 (1804, np.float64(0.13699915608779772)),
 (4348, np.float64(0.13678822577626598)),
 (1320, np.float64(0.13657399193174952)),
 (158, np.float64(0.1354916256531435)),
 (502, np.float64(0.1354916256531435)),
 (777, np.float64(0.1354916256531435)),
 (126, np.float64(0.13513513513513514)),
 (1013, np.float64(0.13513513513513514)),
 (1556, np.float64(0.13513513513513514)),
 (2374, np.float64(0.1342312110428049)),
 (2580, np.float64(0.1342312110428049)),
 (2129, np.float64(0.13300532955644181)),
 (14, np.float64(0.1316245316231641)),
 (138, np.float64(0.1316245316231641)),
 (2177, np.float64(0.1316245316231641)),
 (3620, np.float64(0.1316245316231641)),
 (134, np.float64(0.13151918984428584)),
 (368, np.float64(0.13151918984428584)),
 (1369, np.float64(0.13151918984428584)),
 (1770, np.float64(0.13151918984428584)),
 (2869, np.float64(0.13065106689280268)),
 (1084, np.float64(0.12996881122750908)),
 (2682, np.float64(0.12996881122750908)),
 (4228, np.float64(0.12996881122750908)),
 (483, np.float64(0.1289651760438322)),
 (487, np.float64(0.1289651760438322)),
 (773, np.float64(0.1289651760438322)),
 (1156, np.float64(0.1289651760438322)),
 (2968, np.float64(0.1289651760438322)),
 (1737, np.float64(0.12841755074180852)),
 (937, np.float64(0.1283740414907742)),
 (2476, np.float64(0.12734290799340264)),
 (2446, np.float64(0.12683657235796025)),
 (3626, np.float64(0.12683657235796025)),
 (208, np.float64(0.12655439943366653)),
 (1094, np.float64(0.12655439943366653)),
 (102, np.float64(0.12629480039223434)),
 (166, np.float64(0.12535305264097507)),
 (557, np.float64(0.12535305264097507)),
 (754, np.float64(0.12535305264097507)),
 (84, np.float64(0.12527215359889848)),
 (1874, np.float64(0.12527215359889848)),
 (68, np.float64(0.12427395320024)),
 (2056, np.float64(0.12427395320024)),
 (2648, np.float64(0.12427395320024)),
 (3374, np.float64(0.12427395320024)),
 (438, np.float64(0.12392039927415242)),
 (1297, np.float64(0.12392039927415242)),
 (2327, np.float64(0.12329924047901797)),
 (2670, np.float64(0.12329924047901797)),
 (2785, np.float64(0.12329924047901797)),
 (3081, np.float64(0.12329924047901797)),
 (369, np.float64(0.12253577034896798)),
 (549, np.float64(0.12253577034896798)),
 (1002, np.float64(0.1221125021745327)),
 (1272, np.float64(0.1221125021745327)),
 (1654, np.float64(0.1221125021745327)),
 (4673, np.float64(0.1221125021745327)),
 (139, np.float64(0.12141669877745292)),
 (1000, np.float64(0.12141669877745292)),
 (2280, np.float64(0.12119654139092992)),
 (3233, np.float64(0.1211965413909299)),
 (781, np.float64(0.12006004503753284)),
 (1045, np.float64(0.12006004503753284)),
 (1299, np.float64(0.12006004503753284)),
 (1829, np.float64(0.12006004503753284)),
 (2737, np.float64(0.12006004503753284)),
 (870, np.float64(0.11990028442779209)),
 (900, np.float64(0.11990028442779209)),
 (1669, np.float64(0.11961783342433499)),
 (1711, np.float64(0.11961783342433499)),
 (3719, np.float64(0.11961783342433499)),
 (3998, np.float64(0.11961783342433499)),
 (160, np.float64(0.11869522585912262)),
 (182, np.float64(0.1186447494690624)),
 (278, np.float64(0.1186447494690624)),
 (1613, np.float64(0.1186447494690624)),
 (2543, np.float64(0.1186447494690624)),
 (28, np.float64(0.11810771907149853)),
 (122, np.float64(0.11810771907149853)),
 (236, np.float64(0.11810771907149853)),
 (422, np.float64(0.11810771907149853)),
 (678, np.float64(0.11810771907149853)),
 (589, np.float64(0.1178966237837789)),
 (454, np.float64(0.11742784807525519)),
 (1493, np.float64(0.11706342165578529)),
 (3210, np.float64(0.1166080974034697)),
 (189, np.float64(0.1162476387438193)),
 (1571, np.float64(0.1162476387438193)),
 (1218, np.float64(0.11624763874381928)),
 (50, np.float64(0.11624763874381927)),
 (85, np.float64(0.11565903932254226)),
 (432, np.float64(0.11510231387903269)),
 (1414, np.float64(0.11510231387903269)),
 (121, np.float64(0.1144727614064285)),
 (232, np.float64(0.1144727614064285)),
 (1612, np.float64(0.1144727614064285)),
 (536, np.float64(0.11399018814688831)),
 (420, np.float64(0.1139901881468883)),
 (889, np.float64(0.11394547734377711)),
 (256, np.float64(0.11314714296070713)),
 (808, np.float64(0.11314714296070713)),
 (1346, np.float64(0.11314714296070713)),
 (3145, np.float64(0.11314714296070712)),
 (1508, np.float64(0.11290968804428624)),
 (123, np.float64(0.11290968804428622)),
 (87, np.float64(0.11277677488692017)),
 (3006, np.float64(0.11277677488692017)),
 (4468, np.float64(0.11277677488692017)),
 (206, np.float64(0.11241002017619531)),
 (238, np.float64(0.11241002017619531)),
 (228, np.float64(0.11185934253567072)),
 (2368, np.float64(0.11185934253567072)),
 (3307, np.float64(0.11185934253567072)),
 (81, np.float64(0.11168711865749101)),
 (1570, np.float64(0.11168711865749101)),
 (3426, np.float64(0.11115400287534569)),
 (21, np.float64(0.11115400287534567)),
 (449, np.float64(0.11115400287534567)),
 (1029, np.float64(0.11115400287534567)),
 (1941, np.float64(0.11115400287534567)),
 (2068, np.float64(0.11115400287534567)),
 (5, np.float64(0.11083777463036817)),
 (692, np.float64(0.11083777463036817)),
 (740, np.float64(0.11083777463036817)),
 (200, np.float64(0.11028219331407116)),
 (627, np.float64(0.11028219331407116)),
 (653, np.float64(0.11028219331407116)),
 (1497, np.float64(0.11028219331407116)),
 (1520, np.float64(0.11028219331407116)),
 (2319, np.float64(0.11028219331407116)),
 (572, np.float64(0.10984369379093671)),
 (3091, np.float64(0.1098436937909367)),
 (3628, np.float64(0.1098436937909367)),
 (307, np.float64(0.10972379887386347)),
 (472, np.float64(0.10959932487023819)),
 (786, np.float64(0.10959932487023819)),
 (3496, np.float64(0.10959932487023819)),
 (229, np.float64(0.10892898631973956)),
 (262, np.float64(0.10887588907733556)),
 (541, np.float64(0.10887588907733556)),
 (939, np.float64(0.10827079910776224)),
 (332, np.float64(0.10810810810810811)),
 (1235, np.float64(0.10810810810810811)),
 (170, np.float64(0.10793322294408637)),
 (1164, np.float64(0.10762440050012628)),
 (1741, np.float64(0.10762440050012628)),
 (2157, np.float64(0.10762440050012628)),
 (2517, np.float64(0.10762440050012628)),
 (2630, np.float64(0.10762440050012628)),
 (4133, np.float64(0.10762440050012628)),
 (467, np.float64(0.10701462561817378)),
 (131, np.float64(0.106676149412533)),
 (295, np.float64(0.106676149412533)),
 (687, np.float64(0.106676149412533)),
 (814, np.float64(0.106676149412533)),
 (1035, np.float64(0.106676149412533)),
 (1767, np.float64(0.106676149412533)),
 (3338, np.float64(0.106676149412533)),
 (1492, np.float64(0.1061190899945022)),
 (2494, np.float64(0.1061190899945022)),
 (10, np.float64(0.10529962529853128)),
 (75, np.float64(0.10529962529853128)),
 (223, np.float64(0.10529962529853128)),
 (643, np.float64(0.10529962529853128)),
 (1193, np.float64(0.10529962529853128)),
 (2144, np.float64(0.10529962529853128)),
 (2813, np.float64(0.10529962529853128)),
 (3753, np.float64(0.10529962529853128)),
 (654, np.float64(0.10524566699352861)),
 (2102, np.float64(0.10524566699352861)),
 (2435, np.float64(0.10524566699352861)),
 (105, np.float64(0.10514994558491725)),
 (233, np.float64(0.10514994558491725)),
 (2452, np.float64(0.10514994558491725)),
 (2758, np.float64(0.10514994558491725)),
 (3619, np.float64(0.10514994558491725)),
 (157, np.float64(0.10514994558491723)),
 (3053, np.float64(0.10514994558491723)),
 (3837, np.float64(0.10514994558491723)),
 (1451, np.float64(0.10439346133241542)),
 (508, np.float64(0.10397504898200727)),
 (1080, np.float64(0.10397504898200727)),
 (3150, np.float64(0.10397504898200727)),
 (3632, np.float64(0.10397504898200727)),
 (3872, np.float64(0.10397504898200727)),
 (4095, np.float64(0.10397504898200727)),
 (4777, np.float64(0.10397504898200727)),
 (35, np.float64(0.10283867552865913)),
 (319, np.float64(0.10283867552865913)),
 (624, np.float64(0.10283867552865913)),
 (1075, np.float64(0.10283867552865913)),
 (2049, np.float64(0.10283867552865913)),
 (3659, np.float64(0.10283867552865913)),
 (3952, np.float64(0.10283867552865913)),
 (3439, np.float64(0.10274936706584831)),
 (312, np.float64(0.10269923319261937)),
 (330, np.float64(0.10269923319261937)),
 (1292, np.float64(0.10269923319261937)),
 (2243, np.float64(0.10269923319261937)),
 (1401, np.float64(0.10195592378577323)),
 (1435, np.float64(0.10195592378577323)),
 (445, np.float64(0.10146925788636821)),
 (986, np.float64(0.10146925788636821)),
 (1397, np.float64(0.10146925788636821)),
 (1610, np.float64(0.10146925788636821)),
 (2095, np.float64(0.10118058231454412)),
 (363, np.float64(0.1011805823145441)),
 (491, np.float64(0.1011805823145441)),
 (33, np.float64(0.10067340828210367)),
 (263, np.float64(0.10067340828210367)),
 (325, np.float64(0.10067340828210367)),
 (715, np.float64(0.10067340828210367)),
 (878, np.float64(0.10067340828210367)),
 (1278, np.float64(0.10067340828210367)),
 (1880, np.float64(0.10067340828210367)),
 (2783, np.float64(0.10067340828210367)),
 (4016, np.float64(0.10067340828210367)),
 (4196, np.float64(0.10067340828210367)),
 (4331, np.float64(0.10067340828210367)),
 (4490, np.float64(0.10067340828210367)),
 (1771, np.float64(0.10042266465917388)),
 (266, np.float64(0.10028244211278005)),
 (510, np.float64(0.10028244211278005)),
 (898, np.float64(0.10028244211278005)),
 (3618, np.float64(0.10028244211278005)),
 (3781, np.float64(0.10028244211278005)),
 (3933, np.float64(0.10028244211278005)),
 (9, np.float64(0.09913631941932194)),
 (410, np.float64(0.09913631941932194)),
 (480, np.float64(0.09913631941932194)),
 (535, np.float64(0.09913631941932194)),
 (1107, np.float64(0.09913631941932194)),
 (1819, np.float64(0.09913631941932194)),
 (2249, np.float64(0.09913631941932194)),
 (1154, np.float64(0.09863939238321438)),
 (1723, np.float64(0.09863939238321438)),
 (1938, np.float64(0.09863939238321438)),
 (2558, np.float64(0.09863939238321438)),
 (4254, np.float64(0.09863939238321438)),
 (4403, np.float64(0.09863939238321438)),
 (4472, np.float64(0.09863939238321438)),
 (334, np.float64(0.09802861627917438)),
 (371, np.float64(0.09802861627917438)),
 (2237, np.float64(0.09802861627917438)),
 (11, np.float64(0.09695723311274393)),
 (412, np.float64(0.09695723311274393)),
 (2552, np.float64(0.09695723311274393)),
 (18, np.float64(0.09687303228651607)),
 (4545, np.float64(0.09687303228651607)),
 (148, np.float64(0.09672388203287416)),
 (362, np.float64(0.09672388203287416)),
 (791, np.float64(0.09672388203287416)),
 (1025, np.float64(0.09672388203287416)),
 (4201, np.float64(0.09672388203287416)),
 (129, np.float64(0.09491579957524991)),
 (243, np.float64(0.09491579957524991)),
 (473, np.float64(0.09491579957524991)),
 (813, np.float64(0.09491579957524991)),
 (1274, np.float64(0.09491579957524991)),
 (1355, np.float64(0.09491579957524991)),
 (1688, np.float64(0.09491579957524991)),
 (2484, np.float64(0.09491579957524991)),
 (2588, np.float64(0.09491579957524991)),
 (2646, np.float64(0.09491579957524991)),
 (3718, np.float64(0.09491579957524991)),
 (4502, np.float64(0.09491579957524991)),
 (511, np.float64(0.0949157995752499)),
 (660, np.float64(0.0949157995752499)),
 (920, np.float64(0.0949157995752499)),
 (1470, np.float64(0.0949157995752499)),
 (1569, np.float64(0.0949157995752499)),
 (1682, np.float64(0.0949157995752499)),
 (1717, np.float64(0.0949157995752499)),
 (2089, np.float64(0.0949157995752499)),
 (2392, np.float64(0.0949157995752499)),
 (2641, np.float64(0.0949157995752499)),
 (3535, np.float64(0.0949157995752499)),
 (301, np.float64(0.09491579957524988)),
 (799, np.float64(0.09428928580058928)),
 (596, np.float64(0.09394227846020416)),
 (1697, np.float64(0.09394227846020416)),
 (2816, np.float64(0.09394227846020416)),
 (3405, np.float64(0.09394227846020416)),
 (785, np.float64(0.09367501681349609)),
 (12, np.float64(0.09320546490018)),
 (244, np.float64(0.09320546490018)),
 (356, np.float64(0.09320546490018)),
 (978, np.float64(0.09320546490018)),
 (1304, np.float64(0.09320546490018)),
 (2647, np.float64(0.09320546490018)),
 (3734, np.float64(0.09320546490018)),
 (230, np.float64(0.0930725988812425)),
 (1442, np.float64(0.09299811099505542)),
 (2566, np.float64(0.09248165577087425)),
 (239, np.float64(0.09248165577087424)),
 (43, np.float64(0.09208185110322616)),
 (602, np.float64(0.09208185110322616)),
 (995, np.float64(0.09208185110322616)),
 (1842, np.float64(0.09208185110322616)),
 (3879, np.float64(0.09208185110322616)),
 (88, np.float64(0.09158437663089954)),
 (167, np.float64(0.09158437663089954)),
 (389, np.float64(0.09158437663089954)),
 (219, np.float64(0.09158437663089952)),
 (400, np.float64(0.09158437663089952)),
 (564, np.float64(0.09158437663089952)),
 (1476, np.float64(0.09158437663089952)),
 (1752, np.float64(0.09158437663089952)),
 (2247, np.float64(0.09158437663089952)),
 (2955, np.float64(0.09158437663089952)),
 (331, np.float64(0.09119215051751065)),
 (1231, np.float64(0.09119215051751065)),
 (2359, np.float64(0.09119215051751065)),
 (2792, np.float64(0.09119215051751065)),
 (2852, np.float64(0.09119215051751065)),
 (3387, np.float64(0.09119215051751065)),
 (3460, np.float64(0.09119215051751065)),
 (4343, np.float64(0.09119215051751065)),
 (4353, np.float64(0.09119215051751065)),
 (274, np.float64(0.09097816785925636)),
 (270, np.float64(0.09032775043542898)),
 (1902, np.float64(0.09032775043542898)),
 (2111, np.float64(0.0902256659231352)),
 (23, np.float64(0.09004503377814962)),
 (292, np.float64(0.09004503377814962)),
 (457, np.float64(0.09004503377814962)),
 (960, np.float64(0.09004503377814962)),
 (1257, np.float64(0.09004503377814962)),
 (2656, np.float64(0.09004503377814962)),
 (2864, np.float64(0.09004503377814962)),
 (3320, np.float64(0.09004503377814962)),
 (3447, np.float64(0.09004503377814962)),
 (169, np.float64(0.08948747402853657)),
 (618, np.float64(0.08948747402853657)),
 (752, np.float64(0.08948747402853657)),
 (1779, np.float64(0.08948747402853657)),
 (2105, np.float64(0.08948747402853657)),
 (2709, np.float64(0.08948747402853657)),
 (3551, np.float64(0.08948747402853657)),
 (479, np.float64(0.0891578689526865)),
 (199, np.float64(0.08867021970429453)),
 (1828, np.float64(0.08867021970429453)),
 (2736, np.float64(0.08867021970429453)),
 (2444, np.float64(0.0886379935648677)),
 (141, np.float64(0.0885807893036239)),
 (745, np.float64(0.0885807893036239)),
 (794, np.float64(0.0885807893036239)),
 (1247, np.float64(0.0885807893036239)),
 (1585, np.float64(0.0885807893036239)),
 (3446, np.float64(0.0885807893036239)),
 (143, np.float64(0.08787495503274936)),
 (534, np.float64(0.08787495503274936)),
 (827, np.float64(0.08787495503274936)),
 (1017, np.float64(0.08787495503274936)),
 (1526, np.float64(0.08787495503274936)),
 (2350, np.float64(0.08787495503274936)),
 (2876, np.float64(0.08787495503274936)),
 (3554, np.float64(0.08787495503274936)),
 (4516, np.float64(0.08787495503274936)),

In [86]:
# Find idex number of any perticular movie

new_df[new_df['title'] == 'Batman Begins'].index[0]

np.int64(119)

In [87]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [88]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
10th & Wolf
The Dark Knight Rises