### **Time Series Analysis**
Retailer was fascinated by the market basket analysis and decided to further analyze the transaction data by performing **Time Series Analysis**. The goal is to understand how the store's revenue is changing with time

### **Data Preparation**

In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("data.csv",encoding="ISO-8859-1")
print(data.head())

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [3]:
data.InvoiceDate.head()

0    12/1/2010 8:26
1    12/1/2010 8:26
2    12/1/2010 8:26
3    12/1/2010 8:26
4    12/1/2010 8:26
Name: InvoiceDate, dtype: object

In [9]:
# Convert to datetime format
data['Invoice_Date'] = pd.to_datetime(data['InvoiceDate'])

In [11]:
data['Invoice_Date'].head()

0   2010-12-01 08:26:00
1   2010-12-01 08:26:00
2   2010-12-01 08:26:00
3   2010-12-01 08:26:00
4   2010-12-01 08:26:00
Name: Invoice_Date, dtype: datetime64[ns]

We will also extract the **week** and **year** details from the `invoiceDate` column

In [21]:
data['week_year'] = data['Invoice_Date'].dt.strftime('%U').astype(int)

In [14]:
data['Year'] = data['Invoice_Date'].dt.year

In [17]:
data.head()

  InvoiceNo StockCode  ...  Year  week_year
0    536365    85123A  ...  2010         48
1    536365     71053  ...  2010         48
2    536365    84406B  ...  2010         48
3    536365    84029G  ...  2010         48
4    536365    84029E  ...  2010         48

[5 rows x 11 columns]

In [22]:
np.sort(data['week_year'].unique())

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51])

If you notice, as the data is spread across two separate years, we need to maintain the **sequence** of week numbers