## **Model Evalution Metrics For Regression**

Q1. Problem Statement: Model Evaluation Metrics for Regression
Wite a Python program that reads the winequality-while.csv fle into a DataFrame, the following are the tasks that are to be taken into consideration while constructing diffract model and in the end evaluate them based on RMSE, MAPE, RMSLE.
1. Load the given dataset into a data frame
2. Find missing values and drop them if you find any
3. Check data types for all features
4. Extract dependent and independent variables into the y & x data frame ("alcohol" is our
dependent feature)
5. Split your data into train and test, by 20% as test size
6. Create a new data frame for comparson of all models containing column as model name,
RMSE, MAPE, RMSLE
7. Build linear regresion, SVM, ridge, lasso, Decision Tree and measure their RMSE, MAPE, RMSLE and make the final dataframe

### **Step 1 Import Required Libraries**

In [3]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.model_selection import train_test_split

### **Step 2 Load the dataset**

In [13]:
wine=pd.read_csv('WineQT.csv')
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

### **Step 3 Explore the dataset**

In [14]:
wine.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [15]:
wine.sample(6)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
190,7.9,0.35,0.46,3.6,0.078,15.0,37.0,0.99730,3.35,0.86,12.80,8,267
713,8.9,0.38,0.40,2.2,0.068,12.0,28.0,0.99486,3.27,0.75,12.60,7,1016
941,6.5,0.52,0.11,1.8,0.073,13.0,38.0,0.99550,3.34,0.52,9.30,5,1328
1082,6.9,0.84,0.21,4.1,0.074,16.0,65.0,0.99842,3.53,0.72,9.25,6,1515
592,7.5,0.27,0.34,2.3,0.050,4.0,8.0,0.99510,3.40,0.64,11.00,7,826
466,10.7,0.43,0.39,2.2,0.106,8.0,32.0,0.99860,2.89,0.50,9.60,5,656

In [16]:
wine.shape

(1143, 13)

### **Step - 3: Checking Data Types**

In [17]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

### **Step - 4: Checking Null Values**

In [18]:
wine.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
Id                      0
dtype: int64

In [19]:
wine.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'Id'],
      dtype='object')

### **Step - 5: Extract our dependent variable into y & independent into x**

In [20]:
1 # everything is fine

2# now extract our dependent variable into y and independent variable into x

x = wine.drop(columns = "alcohol")
y = wine.alcohol

### **Step - 6: Spinting into Train And Test**

In [21]:
# Assuming x and y are already defined
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=100)

# Corrected print statements
print("Shape of train data:", x_train.shape, y_train.shape)
print("Shape of test data:", x_test.shape, y_test.shape)

Shape of train data: (914, 12) (914,)
Shape of test data: (229, 12) (229,)

### **Step 7: Create a new dataframe for comparison of all models containing coluns as Model name RSME, MAPE, RMSLE`**

In [23]:
data = {'Model Name':[],'MAPE':[],'RMSE':[],'RMSLE':[]}
wine = pd.DataFrame(data)
wine

Empty DataFrame
Columns: [Model Name, MAPE, RMSE, RMSLE]
Index: []

### **Step 8: Model Building**

In [24]:
from sklearn.linear_model import LinearRegression

# 1. Linear Regression Model
model_ler = LinearRegression().fit(x_train, y_train)
pred = model_ler.predict(x_test)

# 2. RMSE Calculation (Root Mean Squared Error)
rmse = np.sqrt(np.mean((y_test - pred) ** 2))

# 3. MAPE (Mean Absolute Percentage Error)
mape = np.mean(np.abs((y_test - pred) / y_test)) * 100

# 4. RMSLE (Root Mean Squared Logarithmic Error)
rmsle = np.sqrt(np.mean((np.log(pred + 1) - np.log(y_test + 1)) ** 2))

# Storing results in DataFrame
df1 = pd.DataFrame({'Model Name': ['Linear Regression'], 'MAPE': [mape], 'RMSE': [rmse], 'RMSLE': [rmsle]})

# Append to existing DataFrame (if df is already defined, otherwise create new)
df = pd.DataFrame()  # Define an empty DataFrame if not already created
df = pd.concat([df, df1], ignore_index=True)

# Display the results
df

          Model Name      MAPE      RMSE     RMSLE
0  Linear Regression  4.055171  0.545484  0.047833

In [26]:
# SVM
from sklearn.svm import SVR  

# Assuming x_train, x_test, y_train, y_test are already defined

# 1. Support Vector Regression (SVR) Model
model_svr = SVR().fit(x_train, y_train)
pred = model_svr.predict(x_test)

# 2. RMSE Calculation (Root Mean Squared Error)
rmse = np.sqrt(np.mean((y_test - pred) ** 2))

# 3. MAPE (Mean Absolute Percentage Error)
mape = np.mean(np.abs((y_test - pred) / y_test)) * 100

# 4. RMSLE (Root Mean Squared Logarithmic Error)
rmsle = np.sqrt(np.mean((np.log(pred + 1) - np.log(y_test + 1)) ** 2))

# Storing results in DataFrame
df1 = pd.DataFrame({'Model Name': ['SVM Regression'], 'MAPE': [mape], 'RMSE': [rmse], 'RMSLE': [rmsle]})

# Append to existing DataFrame 
df = pd.DataFrame() 
df = pd.concat([df, df1], ignore_index=True)

# Display the results
print(df)

       Model Name      MAPE      RMSE     RMSLE
0  SVM Regression  6.474655  0.928665  0.078149

In [27]:
# ridge Regression
from sklearn.linear_model import Ridge

# Manually normalize X (since normalize=True is deprecated)
x_train_norm = x_train / np.linalg.norm(x_train, axis=0)
x_test_norm = x_test / np.linalg.norm(x_test, axis=0)

# Create and train Ridge Regression model
ridgeReg = Ridge(alpha=0.0005)
ridgeReg.fit(x_train_norm, y_train)

# Predictions
pred = ridgeReg.predict(x_test_norm)

# 1. RMSE (Root Mean Squared Error)
rmse = np.sqrt(np.mean((y_test - pred) ** 2))

# 2. MAPE (Mean Absolute Percentage Error)
mape = np.mean(np.abs((y_test - pred) / y_test)) * 100

# 3. RMSLE (Root Mean Squared Logarithmic Error)
rmsle = np.sqrt(np.mean((np.log(pred + 1) - np.log(y_test + 1)) ** 2))

# Creating a DataFrame to store the results
df1 = pd.DataFrame({'Model Name': ['Ridge Regression'], 'MAPE': [mape], 'RMSE': [rmse], 'RMSLE': [rmsle]})

# Append to existing DataFrame 
df = pd.DataFrame()  
df = pd.concat([df, df1], ignore_index=True)

# Display results
df

         Model Name       MAPE      RMSE     RMSLE
0  Ridge Regression  62.688115  6.500858  0.455113

In [29]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso

# Initialize Lasso Regression model
lassoReg = Lasso(alpha=0.0005)
lassoReg.fit(x_train, y_train)  

# Predictions
pred = lassoReg.predict(x_test)  # Predict on raw X_test

# 1. RMSE (Root Mean Squared Error)
rmse = np.sqrt(np.mean((y_test - pred) ** 2))

# 2. MAPE (Mean Absolute Percentage Error)
mape = np.mean(np.abs((y_test - pred) / y_test)) * 100

# 3. RMSLE (Root Mean Squared Logarithmic Error)
rmsle = np.sqrt(np.mean((np.log(pred + 1) - np.log(y_test + 1)) ** 2))

# Creating a DataFrame to store the results
df1 = pd.DataFrame({'Model Name': ['Lasso Regression'], 'MAPE': [mape], 'RMSE': [rmse], 'RMSLE': [rmsle]})

# Display results
df

         Model Name       MAPE      RMSE     RMSLE
0  Ridge Regression  62.688115  6.500858  0.455113

In [30]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

# Initialize Decision Tree Regressor
dtreg = DecisionTreeRegressor(max_depth=5)
dtreg.fit(x_train, y_train)  # Train the model

# Predictions
pred = dtreg.predict(x_test)

# 1. RMSE (Root Mean Squared Error)
rmse = np.sqrt(np.mean((y_test - pred) ** 2))

# 2. MAPE (Mean Absolute Percentage Error)
mape = np.mean(np.abs((y_test - pred) / y_test)) * 100

# 3. RMSLE (Root Mean Squared Logarithmic Error)
rmsle = np.sqrt(np.mean((np.log(pred + 1) - np.log(y_test + 1)) ** 2))

# Creating a DataFrame to store the results
df1 = pd.DataFrame({'Model Name': ['Decision Tree Regression'], 'MAPE': [mape], 'RMSE': [rmse], 'RMSLE': [rmsle]})

# Append to existing DataFrame (or create a new one if df doesn't exist)
try:
    df = pd.concat([df, df1], ignore_index=True)  # Append to existing df
except NameError:
    df = df1  # Create df if it doesn't exist

# Display results
df

                 Model Name       MAPE      RMSE     RMSLE
0          Ridge Regression  62.688115  6.500858  0.455113
1  Decision Tree Regression   5.401964  0.768239  0.065058

### **Step - 9: Comparing all the models**

In [31]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

# List to store model results
results = []

# Function to compute evaluation metrics
def evaluate_model(model, model_name):
    model.fit(x_train, y_train)
    pred = model.predict(x_test)

    # 1. RMSE (Root Mean Squared Error)
    rmse = np.sqrt(mean_squared_error(y_test, pred))

    # 2. MAPE (Mean Absolute Percentage Error)
    mape = np.mean(np.abs((y_test - pred) / y_test)) * 100

    # 3. RMSLE (Root Mean Squared Logarithmic Error)
    rmsle = np.sqrt(np.mean((np.log(pred + 1) - np.log(y_test + 1)) ** 2))

    # Append results to list
    results.append({'Model Name': model_name, 'MAPE': mape, 'RMSE': rmse, 'RMSLE': rmsle})

# Initialize models
models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(alpha=0.0005),
    "Lasso Regression": Lasso(alpha=0.0005),
    "Decision Tree Regression": DecisionTreeRegressor(max_depth=5),
    "SVM Regression": SVR()
}

# Evaluate each model
for name, model in models.items():
    evaluate_model(model, name)

# Create DataFrame
df_results = pd.DataFrame(results)

# Display Results
df_results

                 Model Name      MAPE      RMSE     RMSLE
0         Linear Regression  4.055171  0.545484  0.047833
1          Ridge Regression  4.464806  0.602671  0.051869
2          Lasso Regression  5.554982  0.772075  0.065461
3  Decision Tree Regression  5.443928  0.779873  0.065807
4            SVM Regression  6.474655  0.928665  0.078149